<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users</p>
<!-- For Button We Use Also We Use routerLink
 But We Do It Through Some navigate method -->
<button (click)="onLoadServers(1)" class="btn btn-primary" >Load Servers</button>
<br><br>
<p>Login helps you manage the servers. </p>
<button (click)="logIn()" class="btn btn-primary">Login</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<p>Logout restricts you to manage the server.You will be automatically logged out,once you click on any of the servers.</p>
<button (click)="logOut()" class="btn btn-primary">Logout</button>
